.logo-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background-color: var(--color-off-white__0);
    color: var(--color-black__-1);
    border: 10px solid transparent;
    border-radius: 20px;
    transform-style: preserve-3d;
    background-clip: content-box;
}
.logo-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    color: white;
    transform: translateZ(60px);
    height: 100%;
    width: 100%;
    background-image: url("../../res/img/logo.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.logo{
    width: 80%;
    height: 80%;
}
.glare-wrapper{
    border-radius: 20px !important;
}