.sign-in-form {
    padding-top: 10rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.form-check-input:checked {
    background-color: var(--color-red__0);
    border-color: var(--color-red__1);
}

.form-group {
    margin-bottom: 1.5rem;
}
.sign-up-link:focus,
.sign-up-link:active,
.sign-up-link:hover{
    color: var(--color-yellow__0);
}
