:root {
    /*Color Palette */
    --color-white: #f6f5f5;
    --color-black: #0f130f;
    /*Primary Color : Off White*/
    --color-off-white__-1: #eeebdd;
    --color-off-white__0: #e3e0cf;
    --color-off-white__1: #c7c4ac;
    /*Secondary Color : Green */
    --color-muted-green__0: #c5d5cb;
    --color-muted-green__1: #9fa8a3;
    --color-green__-1: #8cab98;
    --color-green__0: #5b836d;
    --color-green__1: #155049;
    --color-yellow__1: #ecb100;
    --color-yellow__0: #f7b904;
    --color-yellow__-1: #ffe25d;
    /*Accent Color : Black and Red */
    --color-red__0: #810000;
    --color-red__1: #630000;
    --color-black__-1: #282727;
    --color-black__0: #1b1717;
    --color-black__1: #131010;
    /*define the value of 1 rem i.e 1rem = 10px */
    font-size: 62.5%;
}

:root,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Fira Code", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right bottom, var(--color-red__1), var(--color-black)) no-repeat center center fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    cursor: pointer;
}

.text-black {
    color: var(--color-black);
}

.text-black__1 {
    color: var(--color-black__1);
}

.text-black__-1 {
    color: var(--color-black__-1);
}

.text-red__0 {
    color: var(--color-red__0);
}

.text-red__1 {
    color: var(--color-red__1);
}

.text-off-white__0 {
    color: var(--color-off-white__0);
}

.text-off-white__1 {
    color: var(--color-off-white__1);
}

.text-off-white__-1 {
    color: var(--color-off-white__-1);
}

.text-muted-green__0 {
    color: var(--color-muted-green__0);
}

.text-muted-green__1 {
    color: var(--color-muted-green__1);
}

.text-green__0 {
    color: var(--color-green__0);
}

.text-green__1 {
    color: var(--color-green__1);
}

.text-yellow__0 {
    color: var(--color-yellow__0);
}

.text-yellow__-1 {
    color: var(--color-yellow__-1);
}

.background-black {
    background-color: var(--color-black);
}

.background-black__1 {
    background-color: var(--color-black__1);
}

.background-black__-1 {
    background-color: var(--color-black__-1);
}

.background-red__0 {
    background-color: var(--color-red__0);
}

.background-red__1 {
    background-color: var(--color-red__1);
}

.background-off-white__0 {
    background-color: var(--color-off-white__0);
}

.background-off-white__1 {
    background-color: var(--color-off-white__1);
}

.background-off-white__-1 {
    background-color: var(--color-off-white__-1);
}

.background-muted-green__0 {
    background-color: var(--color-muted-green__0);
}

.background-muted-green__1 {
    background-color: var(--color-muted-green__1);
}

.background-green__0 {
    background-color: var(--color-green__0);
}

.background-green__1 {
    background-color: var(--color-green__1);
}

.background-yellow__0 {
    background-color: var(--color-yellow__0);
}

.background-yellow__-1 {
    background-color: var(--color-yellow__-1);
}


